::selection {
    background: rgba(240,17,68,0.8);
    color: #fff;
}
#header {
    position: relative;
    background: #fff;
    box-shadow: 0 0 3px #ccc;
    height: 46px;
    width: 100%;
    zoom: 1;
}
#header:after {
    display: block;
    content: " ";
    clear: both;
    visibility: hidden;
    height: 0;
    font-size: 0;
}
#brand {
    position: absolute;
    top: 0;
    left: 20px;
    margin: 0;
    font-size: 26px;
}
#brand a {
    color: #dddfdf;
    color: rgba(0,0,0,0.1);
    border-bottom: 0 none;
}
#brand a:hover {
    color: #dadada;
    color: rgba(0,0,0,0.16);
}
#nav {
    position: relative;
    max-width: 560px;
    *width: 560px;
    margin: 0 auto;
    padding: 10px 20px 6px;
    background: #fff;
    z-index: 9;
}
#nav a {
    color: #d14;
    font-weight: bold;
    font-family: "Helvetica Neue", "Helvetica", arial, sans-serif;
    margin-right: 6px;
    padding: 6px 10px;
    border-radius: 4px;
    border-bottom: 0 none;
}
#nav a:hover {
    background: rgba(0,0,0,0.1);
    background: #eee;
}
#main {
    clear: both;
}
#footer {
    padding: 20px;
    max-width: 560px;
    *width: 560px;
    margin: 0 auto 30px;
    text-align: left;
}
#footer a {
    margin: 0;
}
#footer .elsewhere {
    text-align: center;
    margin-bottom: 40px;
}
#footer .elsewhere a {
    margin: 0 10px;
}
#footer .copyright, #footer .system-info {
    margin: 0;
    color: #ccc;
    font-size: 12px;
}
#footer .copyright a {
    color: #bbb;
}
#footer .copyright a:hover {
    color: #d14;
}
/* article */
.hentry {
    overflow: hidden;
    font-family: 'Palatino', 'Xin Gothic', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', Arial, sans-serif;
}
.updated, .updated a {
    color: #999;
    font-size: 14px;
}
.updated a:hover {
    color: #d14;
}
.entry-tags {
    margin: 20px 0;
}
.entry-tags a {
    background: #ccc;
    color: #fff;
    border-bottom: 0 none;
    padding: 4px 10px;
    border-radius: 3px;
    margin-right: 14px;
}
.entry-tags a:hover {
    background: #ddd;
}
.entry-item {
    line-height: 40px;
    margin: 12px 0;
    zoom: 1;
}
.entry-item:after {
    display: block;
    content: " ";
    clear: both;
    visibility: hidden;
    height: 0;
    font-size: 0;
}
.entry-item .updated {
    float: left;
    font-family: "Courier New", monospace;
    margin-right: 28px;
}
.entry-item h3 {
    float: left;
    margin: 0;
}
@media (max-width: 400px) {
    .entry-item .updated, .entry-item h3 {
        float: none;
    }
}
.pagination {
    position: relative;
    margin-top: 40px;
    text-align: center;
    text-transform: uppercase;
    font: normal 12px "Helvetica", arial, sans-serif;
    color: #9f9f99;
}
.pagination .prev {
    position: absolute;
    top: 0;
    left: 0;
}
.pagination .next {
    position: absolute;
    top: 0;
    right: 0;
}
#disqus_thread {
    margin-top: 50px;
}
