@import url(//fonts.googleapis.com/css?family=Rosario);
@import url(//fonts.googleapis.com/css?family=PT+Sans);
body {
    color: #444;
    padding: 0;
    margin: 0;
    font: 16px/1.62 "Rosario", "Xin Gothic", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", Arial, sans-serif;
}
h1, h2, h3, h4, h5, strong {
    font-family: "PT Sans", "Xin Gothic", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", Arial, sans-serif;
}
h1 {
    margin-top: 0;
    font-size: 28px;
}
h2 {
    font-size: 22px;
    margin: 45px 0 15px;
}
h3 {
    font-size: 18px;
    margin: 30px 0 10px;
}

/* block level */
blockquote {
    border-left: 0.4em solid #ddd;
    margin: 15px 0;
    padding: 0 15px;
    color: #777;
}
blockquote blockquote {
    padding: 0 0 0 1em;
    margin-left: 2em;
    border-left: 0.4em solid #ddd;
}
p {
    font-weight: normal;
    line-height: 1.8;
    margin: 20px 0;
}
figure {margin:0; padding:0;}

hr {
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}

ul, ol {
    margin: 14px 0;
    padding-left: 30px;
}
ul {
    list-style: square;
}
li ul {
    list-style: disc;
    margin: 8px 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #bbb;
}
table tr:nth-child(2n) {
    background: #eee;
}
table th, table td {
    text-align: left;
    padding: 4px 6px;
}
/* span level */
img {
    max-width: 100%;
}
a {
    color: #000;
    text-decoration: none;
    overflow: hidden;
    word-wrap: break-word;
    border-bottom: 1px dotted #ddd;
    border-bottom: 1px dotted rgba(0,0,0,0.2);
}
a:hover {
    color: #d14;
    cursor: pointer;
    -webkit-transition: color .5s ease;
    -moz-transition: color .5s ease;
    transition: color .5s ease;
}
a img {
    vertical-align: middle;
}
strong {
    color: #424242;
}

/* code */
pre, code, tt {
    font: 14px "Menlo", monospace;
}
pre {
    margin: 1em 0;
    background-color: #fbfbfb;
    border: 1px solid #ddd;
    padding: 8px;
    line-height: 1.5em;
    color: #444;
    overflow: auto;
    box-shadow: rgba(0,0,0,0.07) 0 1px 2px inset;
    border-radius: 3px;
}
code, tt {
    background-color: #fee9cc;
    color: rgba(0, 0, 0, 0.75);
    padding: 1px 3px;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
pre code {
    padding: 0;
    color: #444;
    border: none;
    background: inherit;
}

/* form */
textarea, input {
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    padding: 5px 8px;
}
textarea:focus, input:focus {
    border-color: #999;
    outline: 0 none;
}

/* extra */
hr.end {
    display: block;
    margin: 30px 0;
    clear: both;
    border: 0 none;
    height: 10px;
    text-align: center;
    background: url("end.png") no-repeat 50% 50%;
}

::selection {
    background: rgba(240,17,68,0.8);
    color: #fff;
}
.container {
    max-width: 560px;
    *width: 560px;
    margin: 0 auto;
    padding: 20px;
}
#header {
    position: relative;
    background: #f4f4f4;
    box-shadow: 0 0 5px #ccc;
    height: 46px;
    width: 100%;
    zoom: 1;
}
#header:after {
    display: block;
    content: " ";
    clear: both;
    visibility: hidden;
    height: 0;
    font-size: 0;
}
#brand {
    position: absolute;
    top: 0;
    left: 20px;
    margin: 0;
    font-size: 26px;
}
#brand a {
    color: #dddfdf;
    color: rgba(0,0,0,0.1);
    border-bottom: 0 none;
}
#brand a:hover {
    color: #dadada;
    color: rgba(0,0,0,0.16);
}
#nav {
    position: relative;
    max-width: 560px;
    *width: 560px;
    height: 46px;
    margin: 0 auto;
    background: #f4f4f4;
    z-index: 9;
}
#nav a {
    font-weight: bold;
    font-family: "Helvetica Neue", "Helvetica", arial, sans-serif;
    margin-right: 6px;
    padding: 8px 10px;
    line-height: 46px;
    border-bottom: 0 none;
}
#nav a:hover {
    color: #d00;
    border-top: 6px solid #d14;
    margin-top: -6px;
}
#nav select {
    margin-top: 8px;
    font-size: 16px;
}
@media (max-width: 480px) {
    #brand a {
        color: rgba(0,0,0,0.8);
    }
    #nav {
        position: absolute;
        top: 0;
        right: 10px;
    }
}
#main {
    clear: both;
}
#footer {
    text-align: center;
    padding: 20px;
    max-width: 560px;
    *width: 560px;
    margin: 0 auto 30px;
    text-align: left;
}
#footer a {
    margin: 0;
}
#footer .elsewhere {
    text-align: center;
    margin-bottom: 40px;
}
#footer .elsewhere a {
    margin: 0 10px;
}
#footer .copyright, #footer .system-info {
    margin: 0;
    color: #ccc;
    font-size: 12px;
}
#footer .copyright a {
    color: #bbb;
}
#footer .copyright a:hover {
    color: #d14;
}
/* article */
.hentry {
    overflow: hidden;
    font-family: 'Rosario', 'Xin Gothic', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', Arial, sans-serif;
}
.entry-title, .hentry h2, .hentry h3, .hentry h4 {
    color: #222;
}
.entry-meta, .entry-meta a, .updated, .updated a , .entry-review {
    color: #999;
    font-size: 14px;
}
.entry-meta a:hover, .updated a:hover {
    color: #d14;
}
.entry-tags {
    margin: 20px 0;
}
.entry-tags a {
    margin-right: 10px;
}
.entry-tags a:before {
    content: "#";
}
.entry-tags a:hover {
    color: #d14;
}
.entry-list {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}
.entry-item {
    margin: 12px 0;
    zoom: 1;
}
.entry-item a {
    margin: 0.2em 1em;
}
.entry-item .updated {
    font-family: "PT Sans", sans-serif;
}
.entry-item-title {
    margin-top: 24px;
}
.entry-item-title a {
    margin-left: 0;
}
.pagination {
    position: relative;
    margin-top: 40px;
    text-align: center;
    text-transform: uppercase;
    font: normal 12px "Helvetica", arial, sans-serif;
    color: #9f9f99;
}
.pagination .prev {
    position: absolute;
    top: 0;
    left: 0;
}
.pagination .next {
    position: absolute;
    top: 0;
    right: 0;
}
.tagcloud a {
    display: inline-block;
    margin: .2em .4em;
    opacity: 0.6;
}
.tagcloud a:hover {
    opacity: 1;
}
.tagcloud .count {
    font-size: 12px;
}
#disqus_thread {
    margin-top: 50px;
}
