<!DOCTYPE HTML>
<html lang="{{theme.lang}}">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{site.name}}{% endblock %}</title>
        <script>if (top !== self) top.location = self.location;</script>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
        <link rel="stylesheet" href="{{static_url('style.css')}}" />
        <link rel="stylesheet" href="{{static_url('pygments.css')}}" />
        {% if site.feed -%}
        <link rel="alternate" type="application/rss+xml" href="{{site.feed}}" title="{{site.name}}" />
        {% else %}
        <link rel="alternate" type="application/rss+xml" href="{{ content_url('feed.xml') }}" title="{{site.name}}" />
        {%- endif %}
        <!--[if lt IE 9]>
        <script type="text/javascript" src="{{ static_url('html5shiv.js') }}"></script>
        <![endif]-->
        {% if theme.analytics -%}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{theme.analytics}}']);
            _gaq.push(['_trackPageview']);
            _gaq.push(['_trackPageLoadTime']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        {%- endif %}
        {% block afterstyle %}{% endblock %}
    </head>
    <body>
        <header id="header">
            {% block header -%}
            <h1 id="brand"><a href="/">{{site.name}}</a></h1>
            {%- block nav %}
            <nav id="nav" role="navigation">
                {% for item in theme.navigation %}
                <a href="{{item.link}}">{{item.name}}</a>
                {%- endfor %}
            </nav>
            {%- endblock %}
            {%- endblock %}
        </header>

        <div id="main">
            <div class="container">
                {%- block main %}
                {% endblock -%}
            </div>
        </div>

        <footer id="footer">
            {%- block footer %}
            <hr class="end" />
            {% if theme.elsewhere -%}
            <nav class="elsewhere">
                {% for item in theme.elsewhere -%}
                <a href="{{item.link}}">{{item.name}}</a>
                {%- endfor %}
            </nav>
            {%- endif %}
            <p class="copyright">
            <span class="software">
                Powered by <a href="{{system.homepage}}">{{system.name}}</a> {{system.version}},
            </span>
            <span class="theme">
                Theme <a href="{{theme.website}}" rel="nofollow">{{theme.name}}</a> {{theme.version}} by <a href="{{theme.author.website}}">{{theme.author.name}}</a>
            </span>
            </p>
            {%- endblock %}
        </footer>

        {%- block beforejs %}{% endblock %}
        <script type="text/javascript" src="{{ static_url('mobile.js') }}"></script>
        {% block afterjs %}{% endblock %}
    </body>
</html>
