<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{site.name}}{% endblock %}</title>
        <script>if (top !== self) top.location = self.location;</script>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
    </head>
    <body>
        {%- block nav %}
        {%- endblock %}

        {%- block main %}
        {% endblock -%}

        {%- block footer %}
        <a href="{{theme.link}}">{{theme.name}}</a>
        {%- endblock %}
    </body>
</html>
