{% extends "layout.html" %}

{% block title %}{{post.title}} - {{site.name}}{% endblock %}

{% block main -%}
<div class="hentry">
    <h1 class="entry-title">{{post.title}}</h1>
    <div class="entry-meta">
        <time class="updated" datetime="{{post.date|xmldatetime}}">
            <a href="{{ post|year_url }}">{{post.date.strftime('%Y-%m-%d')}}</a>
        </time>
        {% if theme.show_author -%}
        {% if post.author.website -%}
        by <a href="{{post.author.website}}">{{post.author.name}}</a>
        {% else -%}
        by {{post.author.name}}
        {%- endif %}
        {%- endif %}
    </div>
    <div class="entry-content">
        {{post.content}}
    </div>
    <div class="entry-tags">
        {% for tag in post.tags -%}
        {%- if theme.tagcloud -%}
        <a href="{{ tag|tagcloud_url }}">{{tag}}</a>
        {%- else %}
        <a href="{{ tag|tag_url }}">{{tag}}</a>
        {%- endif %}
        {%- endfor %}
    </div>
    {% if theme.disqus -%}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = '{{theme.disqus}}';
        var disqus_title = '{{post.title}}';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    {%- endif %}
</div>
{%- endblock %}
