{% extends "layout.html" %}

{% block title %}{{post.title}} - {{site.name}}{% endblock %}
{% block afterstyle %}
<link rel="canonical" href="{{post|permalink}}" />
{% if post.description %}<meta name="description" content="{{post.description }}" />{% endif %}
{% endblock %}

{% block main -%}
<div class="hentry"{%if post.review%} itemscope itemtype="http://data-vocabulary.org/Review"{%endif%}>
    <h1 class="entry-title">{{post.title}}</h1>
    <div class="entry-meta">
        <time class="updated" datetime="{{post.date|xmldatetime}}"{%if post.review%} itemprop="dtreviewed"{%endif%} pubdate>
            <a href="{{ post|year_url }}">{{post.date.strftime('%Y-%m-%d')}}</a>
        </time>
        <span class="author vcard">
            {% if post.author.website -%}
            by <a class="url fn" href="{{post.author.website}}">{{post.author.name}}</a>
            {% else -%}
            by <span class="fn">{{post.author.name}}</span>
            {%- endif %}
        </span>
    </div>
    <div class="entry-content"{%if post.review%} itemprop="description"{%endif%}>
        {{post.content}}
    </div>

    {% if post.review %}
    <div class="entry-review">
        <span itemprop="itemreviewed">{{post.review}}</span> Reviewed by <span itemprop="reviewer">{{post.author.name}}</span> {%if post.rating%}, Rating <span itemprop="rating">{{post.rating}}</span>{%endif%}
    </div>
    {% endif %}

    <div class="entry-tags">
        {% for tag in post.tags -%}
        <a href="{{ tag|tag_url }}">{{tag}}</a>
        {%- endfor %}
    </div>

    {% if theme.disqus -%}
    {%- if theme.allow_comment_on_secret_post or post.public %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = '{{theme.disqus}}';
        var disqus_title = '{{post.title}}';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    {% endif -%}
    {%- endif %}
</div>
{%- endblock %}
