<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{context.sitename}}{% endblock %}</title>
        <script>if (top !== self) top.location = self.location;</script>
        <meta name="HandheldFriendly" content="True" />
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
        {% block author %}
        <meta name="author" content="{{ context.author }}" />
        {% endblock %}
        {% block beforestyle %}{% endblock %}
        <link rel="alternate" type="application/rss+xml" href="{{content_url('feed.xml')}}" title="{{context.sitename}} Feed" />
        <link rel="stylesheet" href="{{ static_url('style.css') }}" />
        {% block afterstyle %}{% endblock %}
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <ul id="nav" class="fn-clear">
                    <li class="nav-item"><a href="/">Home</a></li>
                    <li class="nav-item"><a href="/tag/">Tags</a></li>
                    {% if context.gcse %}
                    <li id="nav-search">
                    <form id="search-form" action="http://www.google.com/cse">
                        <input type="hidden" name="cx" value="{{context.gcse}}" />
                        <input id="search-input" class="ui-fm-text" type="text" placeholder="Search .." name="q" />
                    </form>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div id="container">
                {% block container %}{% endblock %}
            </div>
            <div id="footer">
                <div class="copyrith ft-right">Copyright by <a href="{{context.siteurl}}">{{context.sitename}}</a> | Powered by <a href="http://github.com/lepture/liquidluck">Felix Felicis</a></div>
            </div>
            {% block beforejquery %}{% endblock %}
            <script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
            {% block afterjquery %}{% endblock %}
        </div>
    </body>
</html>
