{% extends "layout.html" %}

{% block title %}{{post.title}} | {{context.sitename}}{% endblock %}

{% block author %}
<meta name="author" content="{{ post.author }}" />
{% endblock %}

{% block afterstyle %}
<link rel="canonical" href="{{ content_url(post.slug) }}" />
<link rel="stylesheet" href="{{ static_url('syntax.css') }}" />
{% endblock %}

{% block entrytitle%}<a href="{{content_url(post.slug)}}">{{post.title}}</a>{% endblock %}

{% block container %}
<div class="entry">
    <div class="entry-content">
        {{ post.content }}
    </div>
    <div class="fn-clear">
        <p class="entry-rel fn-right">
        {% if post.newer %}
        <a id="prev-entry" href="{{content_url(post.newer.slug)}}" title="{{post.newer.title}}" rel="prev">«Prev</a>
        {% endif %}
        {% if post.older %}
        <a id="next-entry" href="{{content_url(post.older.slug)}}" title="{{post.older.title}}" rel="next">Next»</a>
        {% endif %}
        </p>
    </div>
</div>
<div class="entry-meta fn-clear">
    <p class="entry-time fn-left">
    Created at: 
    <a href="/{{post.date.year}}/" rel="index"><time class="updated" datetime="{{post.date|xmldatetime}}" pubdate>{{post.date.strftime("%a, %b %d, %Y")}}</time></a>
    </p>
    {% if post.tags %}
    <p class="entry-tags fn-left">
    Tagged in:
    {% for tag in post.get('tags',[]) %}
    <a href="{{content_url('tag', tag)}}" class="tag" rel="tag">{{tag}}</a>
    {% endfor %}
    </p>
    {% endif %}
</div>
{% if context.disqus and post.public %}
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = '{{context.disqus}}';
    var disqus_title = '{{post.title}}';
    (function() {
     var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
     dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
     (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
     })();
</script>
{% endif %}
{% endblock %}
